html {
  /* overflow: hidden; */
  background-color: #000;
  /* position: fixed; */
}

body, html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-overflow-scrolling: touch;
}

body, body * {
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
}

body {
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  color: #fff;
  background-color: #000;
}

#status, #instruction {
  position: absolute;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 24px;
  width: 100%;
}

#status {
  bottom: 16px;
  left: 0;
  opacity: .25;
  color: hsl(0, 100%, 100%);
}

#instruction {
  top: 16px;
  left: 0;
  transition: all 2s;
}

#instruction.hidden {
  opacity: 0;
}

#primary {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
  color: hsl(0, 100%, 100%);
  padding: 0 16px;
}

#secondary {
  font-size: 16px;
  margin-bottom: 8px;
  color: hsl(0, 100%, 100%);
  opacity: .25;
  padding: 0 16px;
}

#action {
  margin-bottom: 8px;
  opacity: 1;
  color: hsl(330, 100%, 50%);
  padding: 0 16px;
}

#version {
  font-family: Menlo, monospace;
  font-weight: 100;
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: none;
  opacity: .25;
}

#link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #333;
  border: none;
  border-radius: 0;
  border-image: none;
  color: #fff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  opacity: .25;
  margin: 0 0 8px 0;
  line-height: 24px;
  display: block;
  height: 24px;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
  background-color: hsla(330, 100%, 50%, 1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 2s;
  animation: none;
}

#loader.waiting {
  animation: pulse 4s infinite;
  opacity: .5;
  transform-origin: 0% 0%;
}

@keyframes orbiting {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

#touch-local, #touch-other {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transform: translate(-32px, -32px);
  transform: translate(-32px, -32px);
  opacity: 0;
  border-radius: 50%;
}

#touch-other {
  background-color: hsla(330, 100%, 50%, .5);
}

#touch-local {
  background-color: hsla(330, 100%, 50%, .5);
}

#touch-local.touching, #touch-other.touching {
  -webkit-transition: none;
  transition: none;
  opacity: 1;
}

body.touching {
  background-color: rgba(255, 0, 64, .125);
  /* -webkit-transition: background-color 0s;
  transition: background-color 0s; */
}

body.real-touch {
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
  background-color: hsla(330, 100%, 50%, 1.0);
}