html {
  /* overflow: hidden; */
  background-color: #f00;
}

html, body {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body, body * {
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: #000;
  color: #fff;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

#touch-area {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#clients-status {
  opacity: .5;
  position: absolute;
  width: 100%;
  top: 16px;
  left: 0;
  text-align: center;
}

#version {
  opacity: .25;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

#touch-other, #touch-local {
  opacity: 0;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-32px, -32px);
  transform: translate(-32px, -32px);
  border-radius: 50%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#touch-other {
  background-color: hsla(330, 100%, 50%, .5);
}

#touch-local {
  background-color: hsla(330, 100%, 50%, .5);
}

#touch-other.touching, #touch-local.touching {
  -webkit-transition: none;
  transition: none;
  opacity: 1;
}

body.touching {
  background-color: rgba(255, 0, 64, .125);
  /* -webkit-transition: background-color 0s;
  transition: background-color 0s; */
}

body.real-touch {
  background-color: hsla(330, 100%, 50%, 1.0);
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
}